body { 
    padding: 0;
    margin: 40px;
    justify-content:center;
    background-color: whitesmoke;
    text-align: center;
    
    
}

#card {
    width: 800px;
    height: 400px;
    max-height: 50%;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 40px;
    
    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    background-color: purple;
    border: 1px solid lavender;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.btn:hover {
border-color: black;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

#controls {
    display:inline-flexbox;
    justify-content: center;
    
}

.hide {
    display: none;
}